

<p>
	<%= image_tag @movie.image.url(:medium) %>
</p>
<p>
	<strong>name: </strong>
	<%= @movie.name %>
</p>
<p>
	<strong>Director: </strong>
	<%= @movie.director %>
</p>
<p>
	<strong>Description: </strong>
	<%= @movie.description %>
</p>
<div class="time">
            Ngày tạo: <span>
                <% if @movie.created_at > Time.now.beginning_of_day %>
                    <%="#{time_ago_in_words(@movie.created_at)} ago"%>  
                <% else %>
                    <%= @movie.created_at.strftime("%b %d, %Y") %>
                <% end %>
            </span>
        </div>

		Score  : <%= rating_for @movie, 'score', enable_half: true, disable_after_rate: true  %>

<% if current_user %>	
	<%= link_to "Create new review", new_movie_review_path(@movie), :class => "btn btn-default" %>
<% end %>
<hr>

<% @movie.reviews.each do |review| %>
		<p><strong><%= review.user.name %></strong></p>
		<p><%= review.title%> </p>
		<% if current_user && current_user.id == review.user.id %>
			<%= link_to "edit review", edit_movie_review_path(review.movie, review), :class => "btn btn-default" %>
		<% end %>
		<div id="comments-<%= review.id%>">
			<% review.comments.each do|comment| %>
				<%= render "comments/show", comment: comment %>
			<% end %>
		</div>
		<%= render "comments/new", movie: review.movie, review: review %>
		<hr>
<% end %>