

<p class="text-center">
	<%= image_tag @movie.image.url(:medium) %>
</p>
<p>
	<strong>Movie: </strong>
	<%= @movie.name %>
</p>



<p>
	<strong>Director: </strong>
	<%= @movie.director %>
</p>
<p>
	<strong>Description: </strong>
	<%= @movie.description.html_safe %>
</p>
<div class="time">
            Created at: <span>
                <% if @movie.created_at > Time.now.beginning_of_day %>
                    <%="#{time_ago_in_words(@movie.created_at)} ago"%>  
                <% else %>
                    <%= @movie.created_at.strftime("%b %d, %Y") %>
                <% end %>
            </span>
        </div>
        <% if RatingCache.find_by_cacheable_id(@movie.id) != nil%>
RATE  : <div data-dimension="score" class="star" data-rating="<%=RatingCache.find_by_cacheable_id(@movie.id).avg %>" data-id="8" data-classname="Movie" data-readonly="true" data-enable-half="true" data-half-show="true" data-star-count="5" data-star-path="/assets" data-star-on="star-on.png" data-star-off="star-off.png" data-star-half="star-half.png" data-cancel="false" data-cancel-place="left"></div>
<%end%>
<hr>
<% if user_signed_in? && @review.empty? %>	
	<%= link_to "Create new review", new_movie_review_path(@movie), :class => "btn btn-default" %>
<% end %>

<br></br>
<% @movie.reviews.each do |review| %>
		<p>
			<span class="avatar"><%= avatar review.user.avatar%></span>
			<strong><%= review.user.name %></strong>:<span><%= review.title %></span>
		</p>
		
		<p>
			<%= review.content.html_safe %>
			<% if current_user && current_user.id == review.user.id %>
			<%= link_to "", edit_movie_review_path(review.movie, review), :class => "glyphicon glyphicon-cog" %>
		<% end %>
			
		</p>
		
		<div class="block-comment" id="block-comment-<%= review.id%>">
			<div id="comments-<%= review.id%>">
				<% review.comments.each do|comment| %>
					<%= render "comments/show", comment: comment %>
				<% end %>
			</div>
			<p  class="create-comment"><span>Reply</span></p>
			<%= render "comments/new", movie: review.movie, review: review %>
		</div>
		
<script>
	$(document).ready(function(){
    $("#block-comment-<%= review.id %> .create-comment").click(function(){
        $(this).css("display","none");
        $("#block-comment-<%= review.id %> .new_comment").css("display","block");
    });
});
</script>
<% end %>

