<h2>List Movies</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Director</th>
        <th>Description</th>
        <th>Type</th>
        <th>Action</th>
      </tr>
    </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.name,movie_path(movie) %></td>
        <td>
            <div style="width:200px;height:auto">
				      <%= image_tag movie.image.url(:medium) %>
			       </div>
        </td>
        <td><%= movie.director %></td>
        <td><%= movie.description %></td>
        <td><%= movie.category.name %></td>
        <td><%= link_to "", edit_admin_movie_path(movie),:class => 'fa fa-edit fa-2x' %><%= link_to '', admin_movie_path(movie),:class => 'fa fa-trash fa-2x', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'Create new movie', new_admin_movie_path, :class => "btn btn-default" %></p>