<h2>List category</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%=category.name %></td>
        <td><%=category.description %></td>
        <td><%= link_to "", edit_admin_category_path(category),:class => 'fa fa-edit fa-2x' %><%= link_to '', admin_category_path(category),:class => 'fa fa-trash fa-2x', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Create Category", new_admin_category_path,:class => 'btn btn-default' %>
<%= will_paginate @categories %>