<h1>Editing Review</h1>
<%= form_for [@movie, @review] do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Rate %>
    <%= rating_for @review.movie, 'score', enable_half: true, disable_after_rate: false  %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.bootsy_area :content, class: "form-control",rows: 25 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', movie_path(@review) %>
